@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<Modele.Entities.Employe>


<h1>Liste des Employés</h1>
<div style="display: flex; flex-direction: column;">

   @foreach (Modele.Entities.Employe employe in @Model){
        <div style="display: flex; flex-direction: column; margin: 10px;">
            <div><b>@employe.Prenom @employe.Nom</b></div>
            <div>@employe.DateNaissance.ToShortDateString()</div>
            <div>Ancieneté : @employe.Ancienete ans</div>
            <div> Bio : @employe.Biographie</div>
        </div>
    }

</div>